<div class="container">
  <% if @search %>
    <h1 class="title">Search Results For '<%= @search %>'</h1>
  <% else %>
    <h1 class="title">Articles</h1>
  <% end %>

  <div class="flickr_pagination">    
    <%= will_paginate @posts, :container => false %>
  </div>

  <%= render 'article' %>

  <div class="flickr_pagination">    
    <%= will_paginate @posts, :container => false %>
  </div>
</div>

