.navbar {
   background-color: black !important;
}

.navbar-brand {
  font-size: 2rem !important;
}

.nav-link, .navbar-brand  {
  color: lightblue !important;
}

.navbar-toggler, .navbar-toggler-icon {
  background-color: lightblue !important;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
}

.article-submit {
  width: 20%;
  margin-top: 10px;
}

.form-group {
  margin-top: 10px !important;
}

#sticky-footer {
  flex-shrink: none;
}

.user-container {
  text-align: center;
}
body{
  background-color: lightgray;
}