<footer id="sticky-footer" class="py-4 bg-dark text-white mt-4">
  <div class="container text-center ">
    <small>Copyright &copy; <%= link_to "Brock Podgurski", "", class: "text-white" %></small>
  </div>
</footer>