<%# <form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> %>

<%= form_tag(articles_path, method: :get, class: "d-flex") do %>
  <%= text_field_tag(:search, params[:search], class:"form-control me-2", placeholder: "Search") %>
  <%= submit_tag("Article Search", class:"btn btn-outline-success") %>
<% end %>